#contenedor {
  width: 250px;
  height: 250px;
  background-color: #fff;
  margin-bottom: 10px;
  font-size: 22px;
  border-radius: 8px;
  border: 1px solid #000;
}

#codeHex{
    padding-top: 10px;
    
}


textarea{
  width: 100px;
  height: 30px;
  resize: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  
}